# See https://help.github.com/ignore-files/ for more about ignoring files.
config.json

# dependencies
/node_modules

# misc
.DS_Store
npm-debug.log*
.tmp/

# editor files
.tern-*
.idea/
.*.sw[g-y]
.emacs.d
