<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myTemplate from django template framework</title>
</head>
<body>
<h1>django templating framework</h1>
<h2>this is via render function of django framework</h2>
<ul>
    {% for a in jsonData %}
        <li><a href="{% url 'testApp:details' %}{{ a.id }}">{{ a.actor }}</a></li>
    {% endfor %}
</ul>

<input type="text" value="1" id="txtMovieId"/>
<h2>this is via favourite action and dynamic url post action and csrf security token</h2>
{#<form action="{% url 'testApp:favourite' %}{{ a.id }}" method="post">#}
{#<form action="/testApp/favourite/{{ txtMovieId }}" method="get">#}
{#    {% csrf_token %}#}
    {% for a in jsonData %}
        <input type="radio" id="movie{{ a.id }}" name="movie" value="{{ a.id }}" />
        <a href="{% url 'testApp:favourite' %}{{ a.id }}">{{ a.actor_movie }}</a>
        <label for="movie{{ forloop.counter }}">
            {{ a.actor_movie }}
            {% if a.is_favourite %}
                <span>***</span>
            {% endif %}
        </label><br/>
    {% endfor %}
    <input type="submit" value="submit"/>
{#</form>#}

</body>
</html>